<div class="modal-header">
    <h3 class="modal-title col-md-6 col-xs-6">{{hobbit.Name}}</h3>
    <div class="col-md-6 col-xs-6 text-right"><button class="btn btn-primary" ng-click="cancel()">Close</button></div>
</div>
<div class="modal-body media-left">
    <div class="media-left col-md-12">
        <div class="media-left">
            <img ng-src="{{hobbit.Photo}}" style="width:200px;max-height:300px;" class="img-rounded" /><br /><br />
            <div class="col-md-4">
                <b>Age:</b> {{hobbit.Age}}
            </div>
            <div class="col-md-4">
                <b>Weapon:</b> <img ng-src="{{hobbit.Weapon.Picture}}" style="width:30px;height:30px;" />
            </div>
        </div>
        <div class="media-left col-md-offset-6" ng-show="hobbit.Info">
            <h4>Information</h4>
            {{hobbit.Info}}
        </div>
    </div>
</div>
