<table class="table img-rounded">
    <thead>
        <tr class="thead">
            <th filter ng-click="sortparam='Id'">Hobbit photo</th>
            <th filter ng-click="sortparam='Name'">Hobbit name</th>
            <th filter ng-click="sortparam='Age'">Hobbit age</th>
            <th>Hobbit weapon</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tr ng-repeat="hobbit in hobbits | orderBy: sortparam" style="color:white;">
        <td>
            <img class="img-circle hobbitPhoto" ng-src="{{hobbit.Photo}}"/>            
        </td>
        <td>{{hobbit.Name}}</td>
        <td>{{hobbit.Age}}</td>
        <td>{{hobbit.Weapon.Name}}</td>
        <td>
            <button class="btn btn-default col-md-3 col-md-offset-1" style="color:white;background-color:transparent;" ng-click="moreInfo(hobbit)">More info</button>
            <button class="btn btn-danger col-md-3 col-md-offset-1" style="background-color:transparent;" ng-click="remove(hobbit.Id, hobbit.Photo)">Remove</button>
            <button class="btn btn-success col-md-3 col-md-offset-1" style="background-color:transparent;" ng-click="edit(hobbit)">Edit</button>
        </td>
    </tr>
</table> 
