<div class="modal-header">
    <h3 class="modal-title">Remove hobbit</h3>
</div>
<div class="modal-body media-left center-block">
    <form class="form-horizontal col-md-12 css-form" name="hobbitForm">
        <fieldset>          
            <label>Password</label>
            <input type="password" placeholder="Input password" ng-model="password" class="form-group form-control" />
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
    <button class="btn btn-primary" type="button" ng-click="remove()">OK</button>
</div>
