.hobbitPhoto {
    max-height: 70px;
    width: 50px;
}

.loadingImg {
    height: 20%;
    width: 20%;
}

.css-form .ng-invalid.ng-touched {
    border-color: #ff0000;
}

.css-form .ng-valid.ng-touched {
    border-color: none;
}

.thead th {
    cursor: pointer;
}